
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "ONEMobileTitle";
}

.item{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    font-size: 50px;
}

.icon{
    margin: 0 auto;
}

.head{
    margin: 0 auto;
    font-size: 35px;
}
.content{
    margin: 0 auto;
    font-size: 20px;
}

.bookmarkHead{
    margin: 0 auto;
    font-size: 28px;
}

.bookmarkContent{
    margin: 0 auto;
    font-size: 15px;
}


.HomeContainer{
    height: 30vh;
    display: flex;
    justify-content: center;
    font-family: "ONEMobileTitle";
}

.HomebookmarkHead{
    margin: 0 auto;
    font-size: 24px;
}

.HomebookmarkContent{
    margin: 0 auto;
    font-size: 15px;
}

.Homeitem{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.Homehead{
    margin: 0 auto;
    font-size: 28px;
}
.Homecontent{
    margin: 0 auto;
    font-size: 15px;
}