@font-face{
    font-family: "ONEMobileTitle";
    src: url("/public/font/ONE Mobile Title.ttf")
}

@font-face{
    font-family: "ONEMobileRegular";
    src: url("/public/font/ONE Mobile Regular.ttf")
}




