.titlesch{
    color: #007681;
}
.titlebus{
    color: #00baee;
}
.container{
    font-family: "ONEMobileTitle";
}

.refresh{
    border: 1px solid #DFE0E1;
    border-radius: 3px;
}

.pd{
    color: #F8F9FA;
}